* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;

  margin-top: 30px;
  
}

.titulo {
  padding: 15px;
  width: 30vw;
  margin: auto;

}

h7 {

font-size: 13px;
font-style: italic;
}

div {
margin-left: auto;


}


img {

  height: 40px;
  width: 80px;
  margin-top: 20px;
}

h1 {

  text-align: left;
  font-family: 'Shadows Into Light', cursive;
  
}
.form box{

  background-color: lightgray;

}


.box {
  padding: 10px;
  margin: 0 10px 0 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 0.5em;
  width: 30vw;
  height: auto;
}

.btn {
  border: 0;
  color: white;
  font-weight: bold;
  background-color: blue;
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.5em;
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 100%;
  height: 50px;
}